.navbar-comp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 12px;
  background-color: rgb(9, 9, 79);
  box-shadow: 2px 2px 5px rgb(3, 9, 95);
}

.logo {
  padding-right: 15px;
}
